<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %> 
    <main>
        <% if (products.products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.item.title %></h1>
                            <div class="cart__item-price-qty">
                                <h3 style="margin-right: 1rem;">x<%= p.quantity %></h3>
                                <h3>$<%= p.item.price %></h3>
                            </div>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.item._id %>" name="productId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <hr style="margin-bottom: 0.8rem;">
            <div class="cart__item">
                <h1>Total</h1>
                <h1>$ <%= products.total %> </h1>
            </div>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button class="btn success" type="submit">Order Now!</button>
                </form>
            </div>
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %> 